/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* Variables, mixins, etc.. */

@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	padding: 1.5em 1.25em;
}

body {
	background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    
}

p {
    font-size: 13px;
}

p.alert {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 14px;
    margin: 0;
    color: #f70455;
	padding-left: 5px;
}

p.notice {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 14px;
    margin: 0;
	color: #41a4f5;
	padding-left: 5px;
}

.p-stats {
    font-size: 16px;
}

.date {
	color: #696969;
}

/* Icons styles */
.fa-clock {
	color: #696969;
}

/* Navbar/navigation styles */

.navbar {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}

.navbar-default {
	background-color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;

	.navbar-nav > li > a {
		color: #222;
		&:hover {
			color: darken(#f70455, 5%);
			transition: 0.5s;
		}
	}

	.navbar-header {

		.navbar-brand {
			color: #222;
			letter-spacing: 1.4px;
		}

	}

	.dropdown-menu > li > a:hover {
		background-color: #f70455;
		color: #fff;
	}

	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
		background-color: #f70455;
		color: #fff;	
	}

}

.dropdown-menu > .active > a {
	background-color: #f70455;
	color: #fff;
}

.avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.avatar-name {
	color: black;
}

.avatar-dropdown {
	padding: 2px;
}

.avatar-button {
	border: transparent;
}

.navbar-login {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-initial {
    float:none;
    font-weight: bold;
    font-size: 25px;
}

.logo {
	font-weight: bold;
}

/* Article styles */

.red-word {
    color: #f70455;
}

.article-headline {
    margin-top: 20px;
}

.article_img {
    width: 220px;
    height: 123px;
    margin: 5px 0px 5px 0px;
}

.article-show {
    width: 100%;
    height: 50%;
}

.article-rel {
    width: 80%;
    height: 50%;
}

.article-box {
    width: 250px;
    height: 320px;
	margin: 20px;
	padding-top: 1px;
    background-color: white;
    border-radius: 5px;
    box-shadow: gray 1px 1px 10px;
    transition: ease-in 100ms;
}

.article-mini-headline {
    width: 80%;
    text-align: left;
}

.article-mini-headline:hover {
    color: dodgerblue;
}

.article-mini-date {
    width: 80%;
    text-align: left;
}

.article-mini-category, .article-mini-category:hover  {
    color: #f70455;
}

.btn-like {
    font-size: 15px;
}

.article-box:hover {
    box-shadow: gray 3px 3px 5px;
    transition: ease-in 100ms;
}

.article-left-panel {
    margin-left: 1%;
}

.article-info {
    @include background-tile;
}

a {
    color: gray;
}

a:hover, a:focus, a:active  {
    color: #4c4b4b;
    text-decoration: none;
}
.btn-like-custom {
    border: transparent;
    line-height: 20px;
}
.liked {
    color: black;
    font-weight: bold;
}

.btn-custom {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: transparent;
}

.row-article-content {
    background-color: white;
    padding-bottom: 20px;
    border-radius: 5px;
}

.row-article-stats {
    background-color: white;
    padding-top: 30px;
    border-radius: 5px;
}

/* Button/link styles */

.btn-custom {
	color: #f70455;
	background-color: #fff;
	border: 1px solid #f70455;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #f70455;
		color: #fff;
		transition: 0.5s;
	}
}

.btn-custom2 {
	color: #333;
	background-color: #fff;
	border: 1px solid #222;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	&:hover {
		text-decoration: none;
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}	
}

/* current-category styles */

.current-category {
    margin-bottom: 40px;
    text-shadow: #bdbdbd 10px 10px 25px;
}

/* New Article Form styles */

.new-article-form {
	@include background-tile;

	h1 {
		margin-top: 0;
	}

	#category_id {
		margin-bottom: 10px;
	}

	#article_article_img {
		margin-bottom: 10px;
	}

}

/* Edit Article Form styles */

.edit-article-form {

	@include background-tile;

	h1 {
		margin-top: 0;
	}

	#article_category_id {
		margin-bottom: 10px;
	}

	#article_article_img {
		margin-bottom: 10px;
	}

}

/* Signup/Login form styles */

.signup-form {
	@include background-tile;

	h2 {
		margin-top: 0;
	}

}

.login-form {
	@include background-tile;

	h2 {
		margin-top: 0;
	}

}

/* Form styles */

.form-control:focus {
    border-color: #f70455;
    box-shadow: inset 0 1px 1px rgba(255, 9, 67, 0.075), 0 0 8px rgba(233, 102, 144, 0.6); 
}
