/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
    background-color: #eaeaea;
}

p {
    font-size: 13px;
}

.navbar-centre {
    margin-left: 26%;
}

.navbar-login {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-initial {
    float:none;
    font-weight: bold;
    font-size: 25px;
}

.logo {
    font-weight: bold;
}

.red-word {
    color: #f70455;
}

.article-headline {
    margin-top: 20px;
}

.article_img {
    width: 220px;
    height: 123px;
    margin: 5px 0px 5px 0px;
}

.article-show {
    width: 100%;
    height: 50%;
}

.article-rel {
    width: 80%;
    height: 50%;
}

.article-box {
    width: 250px;
    height: 320px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: gray 1px 1px 10px;
    transition: ease-in 100ms;
}

.article-mini-headline {
    width: 80%;
    text-align: left;
}

.article-mini-headline:hover {
    color: dodgerblue;
}

.article-mini-date {
    width: 80%;
    text-align: left;
}

.article-mini-category, .article-mini-category:hover  {
    color: #f70455;
}

li.active .category-link{
    background-color: #f70455;    
}

li.active .category-link:hover {
    background-color: #d80047;   
}

.btn-like {
    font-size: 15px;
}

.article-box:hover {
    box-shadow: gray 3px 3px 5px;
    transition: ease-in 100ms;
}

.article-left-panel {
    margin-left: 1%;
}

a {
    color: gray;
}

a:hover, a:focus, a:active  {
    color: #4c4b4b;
    text-decoration: none;
}
.btn-like-custom {
    border: transparent;
    line-height: 20px;
}
.liked {
    color: black;
    font-weight: bold;
}

.btn-custom {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: transparent;
}

.row-article-content {
    background-color: white;
    padding-bottom: 20px;
    border-radius: 5px;
}

.row-article-stats {
    background-color: white;
    padding-top: 15px;
    border-radius: 5px;
}

