/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
    background-color: #e0e0e0;
}

p {
    font-size: 13px;
}

.navbar-centre {
    margin-left: 26%;
}

.navbar-login {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-initial {float:none;}

.article-headline {
    margin-top: 20px;
}

.article_img {
    width: 252px;
    height: 150px;
    margin: 5px 0px 5px 0px;
}

.article-show {
    width: 650px;
    height: 400px;
}

.article-box {
    width: 282px;
    height: 349px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: gray 1px 1px 10px;
    transition: ease-in 100ms;
}

.article-box:hover {
    box-shadow: gray 3px 3px 5px;
    transition: ease-in 100ms;
}

.row-article-content {
    background-color: white;
    padding-bottom: 20px;
    border-radius: 5px;
}

.row-article-stats {
    background-color: white;
    padding-top: 15px;
    border-radius: 5px;
}

